*,
html,
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    position: relative;
    margin: 55px auto;
    width: 50%;
    
}
.accordion{
    width: 100%;
    height: 53px;
    font-size: 22px;
}


.accordio-content{
    max-width: 1000%;
    max-height: 0;
    overflow: hidden;
}